<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="login()">
    <div class="row">
      <label>
        Login :
        <input type="text" formControlName="login" />
      </label>
    </div>
    <div class="row">
      <label>
        Password :
        <input type="password" formControlName="password" />
      </label>
    </div>
    <button class="btn btn-sucess" type="submit">connect</button>
  </form>
</div>

<div class="row">
  <div class="m-t-1">
    <!-- <button type="button" class="btn btn-danger">With Headers</button> -->
  </div>
</div>

<router-outlet></router-outlet>

<!-- (click)="doGETWithHeaders()" -->
