.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
a.createAccount {
  color: #ff7372;
}
a.createAccount:hover {
  color: skyblue;
}

input {
  border-color: rgba(0, 0, 0, 0.712);
}
