<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="toService()">
    <div class="row">
      <label>
        Login :
        <input type="text" formControlName="login" />
      </label>
    </div>
    <div class="row">
      <label>
        Password :
        <input type="password" formControlName="password" />
      </label>
    </div>
    <button class="btn btn-sucess" type="submit">connect</button>
  </form>
</div>

<div class="row">
  <div class="m-t-1">
    <button type="button" class="btn btn-danger" (click)="getList()">
      getList
    </button>
  </div>
</div>

<ul>
  <li *ngFor="let todo of todoList">
    <app-item [todoItem]="todo"></app-item>
  </li>
</ul>

<router-outlet></router-outlet>

<!-- (click)="doGETWithHeaders()" -->
