<div class="card-deck pb-3 ">
  <div class="card  ">
    <div class="card-header text-center">
      {{ todoItem.name }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="liOne">
        <div class="input-group mb-3 align-items-center">
          <input
            type="text"
            class="form-control "
            placeholder="Add a new Task"
            (keydown.enter)="addTask()"
            [(ngModel)]="inputTask"
            required
            autofocus=""
            aria-label="Add a Task"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
              (click)="addTask()"
            >
              +
            </button>
          </div>
        </div>
      </li>

      <li
        class="row d-inline-flex w-100 ml-2"
        *ngFor="let item of todoItem.elements; let i = index"
        class="list-group-item "
        [ngClass]="{ completed: item.isDone, editing: item.editing }"
      >
        <div class="col-12" *ngIf="!editable">
          <!-- <div class="view" *ngIf="!editable"> -->
          <label (dblclick)="editable = true">{{ item }}</label>
          <!-- </div> -->
          <input
            *ngIf="editable"
            class="edit"
            #updatedTodo
            [value]="item"
            (keyup.escape)="editable = false"
            (keyup.enter)="
              updateTodo(item, updatedTodo.value, this.i, indexOfListe)
            "
            (focusout)="
              updateTodo(item, updatedTodo.value, this.i, indexOfListe)
            "
            (blur)="updateTodo(item, updatedTodo.value, this.i, indexOfListe)"
          />
          <span class="justify-content-end float-right">
            <button class=" btn btn-outline-sucess  " (click)="editStatut()">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button
              class="btn btn-outline-danger"
              aria-label="Delete"
              (click)="removeItem(i)"
            >
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </li>
      <!-- </div> -->
    </ul>
  </div>
</div>
